.content_4{

    width: 1293px;
    height: 915px;
    
}

.price_block{
    background-image: url(../../images/frame.svg);
    z-index: 2;
    width: 1297px;
    height: 810px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 211px;
}

.figure{
    margin: 0 auto;
}
.block_1{
    width: 348px;
    height: 603.6px;
    margin-left: 222px;
    margin-top: 92px;
}

.block_2{
    width: 433px;
    height: 567.16px;
    margin-top: 92px;
}

.head__price{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    text-align: center;
    color: #FAF651;
    justify-content: center;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 22px;
}

.sub_subhead_y{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;

    color: #FAF651;

}

.sub_price{
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-align: start;
     margin: 0;
}